/* 呼吸动画 — 用于医院物资需求卡片的紧急程度指示 */
@keyframes red-breathe {
  from {
    background-color: #a93c33;
  }
  to {
    background-color: #65201d;
  }
}

@keyframes warning-breathe {
  from {
    background-color: #cc7400;
  }
  to {
    background-color: #663c00;
  }
}
